:root {
  --titleSectionPrimaryColour: rgb(255, 255, 255);
}

.main-section {
  background-image: url('../images/adrian-infermus-GLf7bAwCdYg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--titleSectionPrimaryColour);
  text-align: center;
}

.title-section-button {
  color: var(--titleSectionPrimaryColour);
  border: solid var(--titleSectionPrimaryColour) 1px;
  border-radius: 5px;
  padding: 15px 20px;
  background: transparent;
  margin-top: 20px;
  cursor: pointer;
}

.title-section-button:hover {
  background-color: red;
  color: white;
}
