#aboutme {
    text-align: center;
}

.aboutme-section-description {
    text-align: justify;
    margin-top: 45px;
}

.aboutme-icons {
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.aboutme-icons > a {
    text-decoration: none;
}

.aboutme-icon {
    margin: 10px;
    color: var(--titleSectionSecondaryColour);
}

.aboutme-icon:hover {
    color: var(--titleSectionPrimaryColour);
    cursor: pointer;
    color: var(--titleSectionTertiaryColour);
}

.about-section,
.about-section h2,
.about-section p {
    font-family: 'Lora', serif;
}

.about-section {
    background-color: white;
    color: #333; /* Dark text for good contrast */
    padding: 80px 25px;
    text-align: center;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #111;
}

.about-section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
}

.aboutme-download-link > a{ 
    color: black;
}